<form name="userForm" ng-submit="$ctrl.submit(userForm)" novalidate>

  <h3>{{$ctrl.result}}</h3>

    <label for="username">Name</label>
    <input
        type="text"
        name="username"
        id="username"
        ng-model="$ctrl.user.username"
        ng-minlength="3"
        ng-maxlength="12"
        ng-class="{'success':userForm.username.$valid, 'notsuccess' :userForm.username.$invalid && userForm.username.$dirty}"
        required>


    <div ng-messages="userForm.username.$error">
        <p ng-message="minlength" >Your name is too short.</p>
        <p ng-message="maxlength" >Your name is too long.</p>
    </div>

    <label for="password">Password</label>
    <input
        type="password"
        name="password"
        id="password"
        ng-model="$ctrl.user.password"
        ng-minlength="3"
        ng-maxlength="12"
        ng-class="{'success':userForm.password.$valid, 'notsuccess':userForm.password.$invalid && userForm.password.$dirty}"
        required
        >


    <div ng-messages="userForm.password.$error">
        <p ng-message="minlength" >Your password is too short.</p>
        <p ng-message="maxlength" >Your password is too long.</p>
    </div>
    <label for="email">Email</label>
    <input
        type="email"
        name="email"
        id="email"
        ng-model="$ctrl.user.email"
        ng-minlength="3"
        ng-maxlength="25"
        ng-class="{'success':userForm.email.$valid, 'notsuccess':userForm.email.$invalid && userForm.email.$dirty}"
        required
        >


    <div ng-messages="userForm.email.$error">
        <p ng-message="minlength">Your email is too short.</p>
        <p ng-message="maxlength">Your email is too long.</p>
        <p ng-message="email">Your email is not valid.</p>
    </div>

    <label for="zip">Zip Code</label>
    <input
        type="number"
        name="zip"
        id="zip"
        ng-model="$ctrl.user.zip"
        ng-minlength="5"
        ng-maxlength="5"
        ng-class="{'success':userForm.zip.$valid, 'notsuccess':userForm.zip.$invalid && userForm.zip.$dirty}"
        required
        >


    <div ng-messages="userForm.zip.$error">
        <p ng-message="minlength">Your zip is too short.</p>
        <p ng-message="maxlength">Your zip is too long.</p>
    </div>

    <input type="submit" name="submit" value="submit">


</form>
